html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

canvas.layout {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

div.pagewrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
}

div.toolbarwrapper {
  background-color: #f5f5f5;
  padding: 3px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 10px;
}

div.layoutwrapper {
  overflow: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

div.statusbarwrapper {
  background-color: #f5f5f5;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 10px;
}

button.pushright {
  margin-left: auto;
}
